/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.debug {
    outline: red solid 1px;
}

/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    border-radius: 25px;
    gap: 10px;
}

h1 {
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav a {
    margin-left: 50px;
}

nav img {
    width: 61px;
    height: 19px;
}

nav a:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    padding-top: 1.7rem;
    cursor: pointer;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    padding: 30px;
    box-sizing: border-box;
    margin-inline: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.fa-location-dot {
    color: black;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px;
    border-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 15px 20px;
}

form {
    display: flex;
    margin-bottom: 30px;
    padding-top: 30px;
}

input {
    padding: 15px;
    border-radius: 3px;
}

.button-search {
    background: rgb(7, 101, 241);
    color: white;
    border-radius: 15px;
    border-color: transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px 20px;
    cursor: pointer;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

input[type="text"] {
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

input[type="text"]:focus {
    outline: none;
    /* supprime le contour */
    border: 1px solid #F2F2F2;
    /* remet ta bordure personnalisée */
}

.filter-bar {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-bar h2 {
    font-size: 18px;
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

.button-filter {
    width: 173px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-filter:hover {
    background-color: #DEEBFF;
}

.button-filter i {
    font-size: 20px;
}

.info {
    width: 100%;
    height: 19px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info i {
    width: 24px;
    height: 24px;
    border: 0.1rem solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}


/****** Hebergements And Populaires ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.hebergements-and-populaires section,
.hebergements-and-populaires aside {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 871px;
    display: grid;
    justify-content: center;
    flex: 2;
}

.hebergements-cards {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.hebergements-cards .card {
    width: 250px;
    height: 207px;
}

.hebergements-cards img {
    width: 250px;
    height: 124px;
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
    margin-top: 0;
    padding-bottom: 5px;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
}

.afficher-plus:hover {
    color: var(--main-color);
    padding-top: 1.2rem;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: grid;
    justify-content: center;
    flex: 1;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards {
    flex-direction: column;
    max-height: 614px;
    gap: 15px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    width: 369px;
    height: 146px;
}

.populaires-cards img {
    max-width: 123px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 6px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    padding-bottom: 10px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activite {
    width: 100%;
    display: grid;
    justify-content: center;
}

.activites-cards {
    width: 1280px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    gap: 30px;
}

.activites-cards .card {
    width: 297px;
    height: 439px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.activites-cards img {
    min-width: 297px;
    width: 100%;
    height: 380px;
}

.activites-cards .card-title {
    padding-left: 10px;
    margin-top: 15px;
}

.activites-cards .card-content {
    display: flex;
    justify-content: space-between;
}

/****** footer ***********/
footer {
    background-color: #F2F2F2;
}

.footer-content {
    width: 1340px;
    min-height: 163px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-content .assistance {
    margin-right: 300px;
}

footer h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-bar {
        width: 668px;
        height: 91px;
        gap: 20px;
    }

    .hebergements,
    .populaires,
    .activite {
        width: 964px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        height: 611px;
        margin-bottom: 30px;
    }

    .hebergements-cards .card {
        width: 268px;
        height: 207px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
    }

    .hebergements-cards img {
        width: 268px;
        height: 124px;
    }

    .populaires {
        height: 252px;
        margin-bottom: 30px;
    }

    .populaires-cards .card {
        width: 280px;
        height: 146px;
    }

    .populaires-cards img {
        width: 91px;
        height: 135px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        height: 100%;
        font-size: 14px;
    }

    .activites-cards {
        width: 864px;
        margin-bottom: 20px;
    }

    .activites-cards .card {
        width: 193px;
        height: 270px;
    }

    .activites-cards img {
        width: 193px;
        height: 200px;
    }

    .footer-content {
        width: 924px;
    }

    .footer-content .assistance {
        margin-right: 150px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        padding: 0;
        margin: 0;
    }

    nav {
        width: 100%;
        height: 115px;
        flex-direction: column;
        text-align: center;
        /*padding: 20px;*/
        padding-top: 20px;
        gap: 10px;
    }

    nav a {
        margin-left: 0;
        width: 100%;
        height: 36px;
        width: 50%;
        border-bottom: solid 2px #F2F2F2;
    }

    nav a:hover {
        border-top: none;
        padding-top: 0;
        border-bottom: solid 0.1rem var(--main-color);
        padding-bottom: 30px;
    }

    .menu-links {
        display: flex;
        width: 100%;
        height: 36px;
        /*border-bottom: solid 0.1rem #d9d9d9;*/
        margin-top: 30px;
        /*gap: 30px;*/
    }

    h1 {
        font-size: 22px;
        width: 335px;
        height: 52px;
        padding-left: 20px;
        margin-top: 30px;
    }

    p {
        width: 335px;
        height: 19px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 0 auto;
    }

    .button-search {
        font-size: 0;
    }

    .button-search::before {
        content: "\f002";
        /* code de l’icône de loupe Font Awesome */
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 16px;
        color: white;
    }

    form {
        padding-left: 20px;
    }

    .filter-bar {
        width: 100%;
    }

    .button-group {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 335px;
        gap: 10px;
    }

    .button-filter {
        width: 162px;
        height: 50px;
        gap: 10px;
    }

    .info {
        width: 375px;
        height: 38px;
        font-size: 16px;
        padding-left: 20px;
        padding-top: 70px;
    }

    .info p {
        padding-left: 0;
    }

    .afficher-plus {
        margin-inline: 20px;
    }

    .populaires-cards,
    .hebergements-cards,
    .activites-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-title {
        width: 203px;
        height: 19px;
    }

    .hebergements-and-populaires section,
    .hebergements-and-populaires aside {
        padding-inline: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements,
    .populaires,
    .activites {
        width: 375px;
    }

    .populaires {
        height: 569px;
    }

    .populaires-cards .card {
        width: 335px;
        height: 146px;
    }

    .populaires-cards img {
        width: 112px;
    }

    .populaires-cards .card-subtitle {
        margin-top: 20px;
        padding: 0;
    }

    .populaires-cards .card-title {
        padding: 0;
    }

    .hebergements-and-populaires aside {
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        width: 100%;
        height: 1436px;
    }

    .hebergements h2 {
        padding-left: 20px;
    }

    .hebergements-cards .card {
        width: 80%;
        min-width: 335px;
        height: 207px;
        padding-bottom: 10px;
        gap: 4px;
    }

    .hebergements-cards img {
        width: 100%;
        min-width: 335px;
        height: 124px;
    }

    .hebergements-cards .card-content {
        display: flex;
    }

    .hebergements-cards .card-title {
        margin-bottom: 10px;
    }

    .hebergements-cards .card-subtitle {
        margin-top: 5px;
        margin: 0;
        padding: 0;
    }

    .activite {
        width: 375px;
        height: 1000px;
    }

    .activites-cards {
        width: 100%;
        height: 900px;
    }

    .activites-cards .card {
        width: 315px;
        height: 200px;
        margin: 0 auto;
    }

    .activites-cards img {
        width: 315px;
        height: 141px;
    }

    .activites-cards .card-title {
        width: 315px;
    }

    footer {
        max-width: 375px;
        width: 100%;
        height: 461px;
        padding: 30px;
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
}