/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.debug {
    outline: red solid 1px;
}

/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    border-radius: 25px;
    gap: 10px;
}

/*
body {
    display: flex;
    justify-content: center;
    gap: 35px;
}*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav a {
    margin-left: 50px;
}

.menu {
    width: 100%;
    height: 79px;
}

.menu img {
    width: 61px;
    height: 19px;
}

.menu a:hover {
    color: var(--main-color);
    border-top: solid 0.2rem var(--main-color);
    padding-top: 1.2rem;
    cursor: pointer;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-inline: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


form {
    display: flex;
    margin-bottom: 50px;
    padding-top: 30px;
}

input {
    padding: 15px;
    border-radius: 3px;
}

.button-search {
    background: rgb(7, 101, 241);
    color: white;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-filter {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 20px 4px 20px;
    height: 30px;
    width: auto;
    cursor: pointer;
    margin-bottom: 40px;
    gap: 10px;
}

.button-filter:hover {
    background-color: #7196ce;
}

.info {
    width: 1306px;
    height: 19px;
    margin-bottom: 40px;
    border-radius: 50%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section,
.hebergements-and-populaires aside {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: grid;
}

.hebergements-cards {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 250px;
    height: 185px;
    border-radius: 20px;
    padding-bottom: 15px;
}

.hebergements-cards .card-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.afficher-plus:hover {
    color: var(--main-color);
    padding-top: 1.2rem;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 50px;
    width: 369px;
    height: 146px
}

.populaires-cards img {
    min-width: 123px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activite {
    width: 100%;
    display: grid;
}

.activite h2 {
    padding-top: 50px;
    margin-left: 10px;
}

.activites-cards {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    margin-top: 33px;
}

.activites-cards .card {
    width: 250px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.activites-cards .card-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.activites-cards img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    padding-bottom: 15px;
}

.activites-cards .card-content {
    display: flex;
    justify-content: space-between;
}

/****** footer ***********/
footer {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* (desktop, less than 1440px) */
@media (max-width: 1440px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements .populaires {
        width: 100%;
    }

    .populaires {
        margin-top: 40px; 
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        height: 100%;
        font-size: 14px;
    }

    .activites-cards .card {
        width: 193px;
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0 20px;
    }

    body {
        flex-direction: column;
        align-items: center;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements .populaires {
        width: 100%;
        margin-top: 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards .card {
        width: 100%;
        min-width: 335px;
        height: 146px;
    }

    .populaires-cards img {
        width: 111px;
        height: 100%;
    }

    /*
    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards img {
        width: 30%;
    }
*/
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}